zawartość
{
	background-image: url("https://jooinn.com/images/blue-background-pattern-1.jpg");
	background-repeat: repeat;
	transparent: 0.5;
}

daneDokumentu
{
	font-size: 20px;
	color: #9e999e;	
	display: block;
	background-color: black;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	border-color: yellow;
	border-width: 6px;
	border-style: solid;
}

opisDokumentu
{
	border-bottom-color: yellow;
	border-bottom-width: 6px;
	border-bottom-style: double;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
	display: block;
}

opisDokumentu::before
{
	font-size: 28px;
	white-space: pre;
	content: 'Opis dokumentu\a';
}

autorzy
{
	border-bottom-color: yellow;
	border-bottom-width: 6px;
	border-bottom-style: double;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
	display: block;
}


autor
{
	margin-left: 25px;
	text-align:left;
	display: list-item;
	align: left;
	list-style-type: square;
}

autorzy::before
{
	font-size: 28px;
	white-space: pre;
	content: "Autorzy";
}

dataUtworzenia
{
	border-bottom-color: yellow;
	border-bottom-width: 6px;
	border-bottom-style: double;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
	display: block;
}

dataUtworzenia::before
{
	font-size: 28px;
	white-space: pre;
	content: "Data utworzenia\a";
}

dataModyfikacji
{
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
	display: block;
}

dataModyfikacji::before
{
	font-size: 28px;
	white-space: pre;
	content: "Data modyfikacji\a";
}

markiTytuł
{
	color: deeppink;
	display: block;
	text-align: center;
	font-family: Algerian;
	font-weight:bold;
	font-size:60px;
}

marki
{
	font-size:20px;
	background-color: black;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	border-color: rebeccapurple;
	border-width: 6px;
	border-style: ridge;


	display: flex;
	justify-content: center;
	align-items: center;
}

marka
{
	color: #9e999e;
	margin-left: 28px;
	padding-top: 2px;
	padding-bottom:2px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom-width: 4px;

	margin: 0 auto;
	display: inline-block;
	overflow: hidden;
}

przedmiot
{
	font-size:20px;
	display: block;
	background-color: black;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	border-color: #9e999e;
	border-width: 6px;
	border-style: solid;
}

przedmiot:nth-child(3n)
{
	border-color: yellow;
}

przedmiot::before
{
	padding-top: 0px;
	color: #d30202;
	font-family: Algerian;
	font-weight:bolder;
	font-size:30px;
	position: relative;
	top: 38px;
	left: 30px;
	content: "ID: " attr(przedmotID);
}


nazwa
{
	color: #d30202;
	text-align: center;
	font-family: Algerian;
	font-weight:bolder;
	font-size:30px;
	display: block;
	border-bottom-color: #9e999e;
	border-bottom-width: 4px;
	border-bottom-style: solid;
}

cena, typKonstrukcji, średnicaMembrany, pasmoPrzenoszeniaSłuchawek, minimum, maximum, impedancjaSłuchawek, czułośćSłuchawek, wbudowanyMikrofon, kolor, długośćKabla
{
	font-style:italic;
	color: #9e999e;
	padding-top: 2px;
	padding-bottom:2px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	text-align:center;
}

cena, średnicaMembrany, impedancjaSłuchawek, wbudowanyMikrofon, długośćKabla
{
	display:block;
	background-color: #111111;
}

cena::before
{
	position:absolute;
	left:4%;
	font-style: normal;
	font-weight: bold;
	content: "Cena ";
}

cena[promocja="TAK"]
{
	font-style: normal;
	font-weight: bold;
	color: green;
}

cena::after
{
	white-space: pre;
	position:absolute;
	font-style: italic;
	font-weight: normal;
	content: " " attr(waluta) "                                                                                                             Promocja: " attr(promocja);
}

typKonstrukcji::before
{
	position:absolute;
	left:4%;
	font-style: normal;
	font-weight: bold;
	content: "Typ konstrukcji "
}

średnicaMembrany::before
{
	display:block;
	position:absolute;
	left:4%;
	font-style: normal;
	font-weight: bold;
	content: "Średnica membrany ";
}

średnicaMembrany::after
{
	font-style: italic;
	content: " " attr(jednostka);
}

minimum::before
{
	display:block;
	position:absolute;
	left:4%;
	font-style: normal;
	font-weight: bold;
	content: "Pasmo przenoszenia min ";
}

minimum::after
{
	font-style: italic;
	content: " " attr(jednostka);
}
maximum::before
{
	display:block;
	position:absolute;
	left:4%;
	font-style: normal;
	font-weight: bold;
	content: "Pasmo przenoszenia max ";
}

maximum::after
{
	font-style: italic;
	content: " " attr(jednostka);
}

impedancjaSłuchawek::before
{
	position:absolute;
	left:4%;
	font-style: normal;
	font-weight: bold;
	content: "Impedancja ";
}

impedancjaSłuchawek::after
{
	content: " Ω";
}

czułośćSłuchawek::before
{
	position:absolute;
	left:4%;
	font-style: normal;
	font-weight: bold;
	content: "Czułość ";
}

czułośćSłuchawek::after
{
	content: " " attr(jednostka);
}

wbudowanyMikrofon::before
{
	position:absolute;
	left:4%;
	font-style: normal;
	font-weight: bold;
	content: "Wbudowany mikrofon ";
}

kolor::before
{
	position:absolute;
	left:4%;
	font-style: normal;
	font-weight: bold;
	content: "Kolor ";
}

długośćKabla::before
{
	position:absolute;
	left:4%;
	font-style: normal;
	font-weight: bold;
	content: "Długość kabla ";
}

długośćKabla::after
{
	content: " " attr(jednostka);
}